@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'proxima nova';
  src: url("./../../public/ProximaNovaFont.otf")
}

h1,
#heading,
#problem,
#points,
#font_proxima {
  font-family: 'proxima nova';
}


::-webkit-scrollbar {
  width: 0.4rem;
  background: #000000;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 0.6rem;
  z-index: -99;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #474746;
  border-radius: 1rem;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Demi';
  src: url('./../../public/itc_avant_garde_gothic_demi.ttf');
}

body {
  background-color: #0D0D0D;
  overflow: hidden;
}

#font_ITC {
  font-family: 'ITC Avant Garde Gothic Demi';
}

@font-face {
  font-family: 'Cascadia';
  src: url('./../../public/Cascadia.ttf');
}

#cascadia {
  font-family: 'Cascadia';
}