@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'proxima nova';
  src: url("./../../public/ProximaNovaFont.otf")
}

body{
  font-family: 'proxima nova';
}

h1 {
  font-family: 'proxima nova';
}

::-webkit-scrollbar {
  width: 0.4rem;
  background: #000000;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 0.6rem;
  z-index: -99;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #474746;
  border-radius: 1rem;
}
